<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1200, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">
    <title>Cards</title>
</head>
<body>
    <div class="cards">
        <div class="card">
            <h2 class="card-title">
                К-сть бутлів
            </h2>
            <i class="card-icon"></i>
            <span class="card-value">15</span>
            <hr class="card-progress_bar">
        </div>
        <div class="card">
            <h2 class="card-title">
                К-сть бутлів
            </h2>
            <i class="card-icon"></i>
            <span class="card-value">15</span>
            <hr class="card-progress_bar">
        </div>
    </div>
</body>
</html>